footer.pb-4.container.mx-auto.text-center
    a(href="https://siliconminds.be") 
        span.text-gray-400 Visit my website! 
        span.text-white siliconminds.be <br>
        span.text-gray-400 © Copyright Siliconminds 2022